[2020-12-02 23:47] #744 closed

[2020-12-02 23:48] #643 closed

[2020-12-03 17:23] #742 closed

[2020-12-03 18:33] AlanBCole commented on #716
I am not sure how the Coder would be best used... Are we looking for IDE integrations/linters for Drupal standards? Or something to be included in our express_mono repo's composer.json file that we can run locally via the command line (after running `composer install`)?

I can see the first option (IDE linter) being easy assuming that there is a good linter plugin already etc. I am not sure we wan

[2020-12-03 18:34] AlanBCole commented on #716
I will investigate more options for improving local coding standards.

[2020-12-03 19:35] AlanBCole commented on #716
Some 'official' Drupal setup advice or Visual Studio Code (which at least a few of us use): https://www.drupal.org/docs/develop/development-tools/configuring-visual-studio-code

[2020-12-07 16:01] jwfuller commented on #633
@AlanBCole I don't think so, but I am not 100% sure.

[2020-12-07 22:44] cathysnider opened #774 "Responsive Table shortcodes don't seem to be working"
https://www.colorado.edu/demos/cathys-sandbox/webexp-design/table-styles

Responsive Table:

The extra long table is enclosed in a [ responsive-table ] shortcode and should be showing a horizontal scrollbar at the bottom. Instead, it is being cut off in the middle of a column.

<img width="977" alt="Screen Shot 2020-12-07 at 3 43 57 PM" src="https://user-images.githubusercontent.com/638275/1014143

[2020-12-07 23:20] AlanBCole commented on #716
I am planning on adding work for this issue to the cu_debug_admin_bundle repository. Please look there for the pr to be created soon!

[2020-12-08 20:59] jwfuller commented on #774
@kevincrafts to confirm bug

[2020-12-08 20:59] kevincrafts commented on #771
Let's tackle this from both sides - hide images from displaying in search results AND update CSE xml to not having images included.

[2020-12-08 21:10] jwfuller commented on #767
Want to take a look at our use of SASS to see if we can migrate to pure CSS.

If we cannot go pure CSS3, we want to go down the Gulp path, starting with `gulp-sass` and either `dart-sass` or `node-sass` depending on the best practices.

[2020-12-08 21:18] kevincrafts commented on #771
We can just change this to 'none' https://github.com/CuBoulder/express_mono/blob/dev/modules/features/cu_search/scss/cu-search.scss#L291

[2020-12-08 21:29] kevincrafts commented on #774
Two problems here:
1. The shortcode requires a "breakpoint" value to know when the table should start scrolling.
2. This site isn't responsive, and we removed the setting to make it responsive, so somehow it's still in fixed mode.

[2020-12-08 21:42] cathysnider commented on #774
I'll pass that info on to Emily so she can update the documentation on how the shortcode works.

[2020-12-08 23:03] jwfuller opened #777 "Replace TravisCI"
TravisCI is changing the way that they support [open source](https://blog.travis-ci.com/oss-announcement). We are anticipating that we will not be able to continue to use this service.

Some options

- GitHub Actions
- CircleCI
- On-premises Jenkins

[2020-12-08 23:06] jwfuller opened #778 "Standardize CSE configuration"
Originally we started with Express generating a XML file that was uploaded to the CSE config page. We drifted from the process and now there is an unknown amount of variation in the configuration. We need to figure out how to standardize this.

We should look to see if there is an API that we utilize

[2020-12-10 17:09] AlanBCole commented on #716
I have moved the solution to this issue to our cu_debug_admin_bundle repository and created 2 issues there related to getting the Drupal coder module set up:
1. Visual Studio Code: https://github.com/CuBoulder/cu_debug_admin_bundle/issues/3
2. PHPStorm setup: https://github.com/CuBoulder/cu_debug_admin_bundle/issues/4

Our team uses both of those editors so it seemed good to create an issue for bo

[2020-12-10 17:09] #716 closed

[2020-12-10 21:37] #768 closed

[2020-12-11 16:51] kevincrafts opened #781 "Accessibility issue with accordion style elements"
From Kevin Darcy in the Accessibility office:

When I navigate through the menu of collapsible/expandable boxes, using the down arrow, the title of the collapsed box is not included with the link for its collapsible box.  For instance, I press the down arrow once, I hear “same page link collapsed”.  Then, I press the down arrow again, and that’s when I hear “attachments”, but that description is n

[2020-12-11 18:08] kevincrafts commented on #781
The test was done with [this page](https://www.colorado.edu/accessible-technology/resources/creating-accessible-emails), so the elements in question here are the expand shortcakes.

[2020-12-14 16:45] kevincrafts opened #782 "Images displaying at incorrect sizes"
A [recent change](https://github.com/CuBoulder/express_mono/commit/be2aebba54e7e9e6df306309c7ffab0802edae78#diff-ab151a7d6f10bde0a9a3b9b188f87cc973936b24888ca8c37c007ad85c9721c3R25) to the people css has caused small and medium images to not display at their proper sizes.  This change is forcing these image styles to display at 100%, even though the image size may be much smaller, resulting in ver

[2020-12-14 16:48] kevincrafts commented on #782
What is looks like now vs what it should look like...
![Screen Shot 2020-12-14 at 9 47 54 AM](https://user-images.githubusercontent.com/349713/102109657-886a1b80-3df1-11eb-8412-fbf5991acd71.png)

![Screen Shot 2020-12-14 at 9 48 01 AM](https://user-images.githubusercontent.com/349713/102109683-8e5ffc80-3df1-11eb-9b5e-4c80e1fc6fe6.png)

[2020-12-14 17:08] jwfuller commented on #781
@kevincrafts Is this a bug or a quirk?

[2020-12-14 22:43] kevincrafts commented on #781
I had followed instructions on how to do expandable content with appropriate aria controls, so maybe it's a quirk?  We can see if there are better methods available now than when this was done 2-3 years ago.

[2020-12-15 18:58] tirazel commented on #767
There are at least three options to perform the actual SASS compilation step:

1) dart-sass (written in Dart, running in a Dart VM)
2) dart-sass (written in Dart, compilied down to pure JS)
3) node-sass (written in Node)

dart-sass is the official implementation, maintained by the SASS project.  As such, it should always be up to date with the latest features.  Dart programs can either be run in a

[2020-12-15 20:38] #751 closed

[2020-12-15 20:41] #755 closed

[2020-12-15 20:46] kevincrafts opened #783 "Make sure all sites are responsive."
We removed the setting to make a site responsive, we better make sure that all sites are actually set to be responsive.

We already did this in a previous update but this is the first time I'm aware of that didn't work.

https://github.com/CuBoulder/express_mono/blob/dev/modules/custom/cu_core/cu_core.install#L535

[2020-12-16 03:02] AlanBCole commented on #633
@kevincrafts I am looking at this again after a while. I have this situation:

- I created a rss block
- put its url as `https://rss.nytimes.com/services/xml/rss/nyt/Music.xml?music=yes&rss=true`
- I put a break point up at https://github.com/CuBoulder/express_mono/blob/dev/modules/custom/cu_rss_block/cu_rss_block.module#L44 (this function is called to validate the rss feed upon form submission)
-

[2020-12-16 18:01] ekellagher opened #784 "Integration with Jobs"
Client has requested integration with Jobs site, they would like to embed the application forms on their site.
https://secure.helpscout.net/conversation/1370819266/5308?folderId=1414566

"I'm wondering if there is a way to take jobs we post here: https://www.colorado.edu/jobs/
And make them auto fill onto our website? Like the campus events, newsletter archive or news archive.

[2020-12-17 18:17] #770 closed

[2020-12-17 18:41] AlanBCole commented on #633
Closing this issue. Validation is performed on the full url (with query parameters) typed into the form, so nothing needs to be changed. The confusion was caused by the fact that the url and query parameters are separated after validation as they are saved into the DB. We thought that this might have happened before validation and that validation would then not have included the query parameters.

[2020-12-17 18:41] #633 closed

[2020-12-18 00:31] AlanBCole commented on #741
## Additional description of the problem:
I have included two text blocks AND one RSS block in the row block. Regardless of its position inside the block row, when the rss block's remove button is clicked it is removed. Which is the desired and expected outcome.

However, when I click a text block's remove button, regardless of its position in the block row, the final element in the row is removed

[2020-12-22 00:12] AlanBCole commented on #741
The code found at https://github.com/CuBoulder/express_mono/blob/dev/modules/contrib/field_collection/field_collection.module#L1555-L1618 seems to be where the updating of the block_row's content is happening when a column is removed. It is very difficult to track how values are changing in this function, in my humble opinion, as the arrays involved are somewhat large and there is a fair amount of

[2020-12-22 16:22] kevincrafts opened #787 "JS Includes missing permission"
The js includes module is missing the permission for anonymous and authenticated users to view js includes.

I needed to manually change this permission on the homepage, financial aid, bursar, and registrar websites on 12/22.

[2021-01-04 17:54] jwfuller opened #788 "JS includes shows on Profile Module Manager report"
[code]
This bundle should not appear on this report, it is allowed to be enabled.

[2021-01-04 18:21] ekellagher opened #789 "Postwide Region in Minimal Theme forces images to be left justified"
When a site is using the Minimal theme, you are not able to place a text block with a centered image in the post wide region.
We had a support ticket #5363 (site: https://www.colorado.edu/research/ai-institute/) with this issue and I am able to replicate it on a test site
On the AI Institute site - I hacked a temporary solution
To test this though, I created a block "NSF logo text block" with a ce

[2021-01-04 18:28] ekellagher opened #790 "Filter Tips page is viewable by anonymous users"
A compose tips page is public when you are logged out of a site
just type /filter/tips at the end of a URL such as https://www.colorado.edu/webcentral/filter/tips

I discovered this when working with a client on their site map
![filter tip](https://user-images.githubusercontent.com/16137919/103566864-fdc08d80-4e7f-11eb-99b8-a2de0f9159d6.JPG)

[2021-01-05 17:37] #679 closed

[2021-01-05 20:14] jwfuller commented on #784
Duplicate of https://github.com/CuBoulder/express_mono/issues/65

[2021-01-05 20:14] #784 closed

[2021-01-05 20:35] #771 closed

[2021-01-05 20:35] #734 closed

[2021-01-05 20:37] jwfuller commented on #774
@cathysnider will close once this is communicated.

[2021-01-05 20:47] kevincrafts opened #791 "Add js_includes as a dependency for one of the bundles so users can enable it."
We should attach this to an existing bundle so it's easy to enable and add an update hook for that bundle so it will be enabled for sites that already have that bundle enabled.

Kevin will look through the bundles to see which one it should be part of.  Since this module uses context, it should probably be part of a module that also enables the context UI.

[2021-01-05 20:48] kevincrafts commented on #791
I think cu_advanced_layout_bundle might be the leading candidate so far.

[2021-01-05 21:44] cathysnider commented on #791
Questions brought up by Emily:
Are they moving the digital campaign embeds to work with includes or will those still be separate? Slate forms is part of includes but it also has it's own bundle so will they remove that slate bundle? What is the process to enable the LiveChat feature should I create a new form for people to fill out?

[2021-01-05 22:48] cathysnider commented on #787
The permissions are already included in the module. See cu_js_includes.permissions.inc.
A site has to be loading permissions from code, though. Ensure that Secure Permissions has not been disabled.

[2021-01-05 23:26] cathysnider commented on #788
Question: Won't this problem fix itself once JS Includes is added to one of the current bundles?

[2021-01-06 16:58] cathysnider opened #792 "User Role edit_only is not being counted in the Atlas statistics"
https://osr-prod-util01.int.colorado.edu/atlas/statistics

<edit_only> should be one of the user types counted in <users>

[2021-01-06 17:03] jwfuller opened #793 "Create endpoint for site metrics"
Prometheus uses a scrape model rather than a push model for gathering metrics. We need each site to have an endpoint for scraping these metrics. We should secure this information transfer because it will  contain user lists. This will replace `atlas_statistics`

[2021-01-06 17:10] jwfuller commented on #788
@cathysnider I don't think so, but am not sure

[2021-01-07 19:01] AlanBCole commented on #782
@kevincrafts Do you know how this image was added to the page? Shortcode? Also when I go to the page you have linked to in the description I see the page "what it should look like..." page. Were changes made to that page in particular so that the book cover shows up correctly?

[2021-01-07 19:56] AlanBCole commented on #782
#### Using the following steps (sorry if they are way off...) I have not been able to reproduce this:
1. Upload a picture by going to `/node/add/file`
    - This adds a node with some urls for different image sizes.
    - Copy the url for the small image
2. Create a new article:
    - click the image tab/short code and paste in the image url
    - select "right" option in Alignment dropdown
    -

[2021-01-07 20:06] AlanBCole commented on #782
Also, I am not sure how the recent changes you linked to apply as the css classes `image-small` or `image-medium` are not found in the page linked or the one produced by following the steps I outlined above.

[2021-01-07 20:26] cathysnider commented on #782
@AlanBCole Here's now to add an image to a page:
Add or Edit a Basic Page
Below the body field, there is button to upload an image.
Upload an image, then place cursor in body field where you'd like image to appear.
Select Image Size from Style drop-down, then click 'Insert'
<img width="492" alt="Screen Shot 2021-01-07 at 1 16 51 PM" src="https://user-images.githubusercontent.com/638275/103941324-e

[2021-01-07 22:48] AlanBCole commented on #782
The reason I could not reproduce the bug is because I recently spun up a new Lando environment and did not enable the cu_people_bundle or people_content_type modules. I have reproduced the bug.

[2021-01-07 23:10] cathysnider commented on #788
@jwfuller The answer is yes, once cu_js_includes is added as a dependency to a bundle, as requested https://github.com/CuBoulder/express_mono/issues/791, it will no longer be flagged in the Profile Module Manager report. When that issue is resolved, this one will be as well.

[2021-01-07 23:36] AlanBCole commented on #790
I do not believe that this is in our codebase. Is this something that we should fix?

[2021-01-08 19:08] kevincrafts commented on #791
1. Some parts of the digital campaign bundle should be removed at some point. This includes the Slate bundle but all of those will need to be migrated.  The embeds/tracking pixels are handled by GoogleTagManager so I think the only thing left might be the funnel pages, which could also be moved into another bundle.

2. The Livechat, and any other functionality that is part of the js includes modul

[2021-01-08 21:05] cathysnider opened #796 "Feedback Form has little scroll bar on right side"
possibly caused by css #cu-feedback {overflow-y: scroll;}

https://www.colorado.edu/cmci/contact-us

<img width="301" alt="Screen Shot 2021-01-08 at 2 05 18 PM" src="https://user-images.githubusercontent.com/638275/104064125-96297b80-51ba-11eb-88df-888d6986eae9.png">

<img width="241" alt="Screen Shot 2021-01-08 at 2 04 22 PM" src="https://user-images.githubusercontent.com/638275/104064055-742ff90

[2021-01-08 21:38] cathysnider commented on #774
Communicated

[2021-01-08 21:38] #774 closed

[2021-01-11 15:49] #788 closed

[2021-01-11 15:52] jwfuller commented on #787
@cathysnider I am guessing that this doesn't work on sites that are updated to the new code, I suspect that we need a secure permission rebuild update hook

[2021-01-11 15:53] #740 closed

[2021-01-11 19:59] #782 closed

[2021-01-11 20:12] jwfuller commented on #790
The page comes from a contrib module, we want to suppress it via our codebase

[2021-01-12 20:02] kevincrafts opened #800 "New design for horizontal tabs in express"
We've had a lot of anecdotal feedback that the design of the horizontal tabs in Web Express are not interpreted as tabs and have made some content difficult to navigate.

We should redesign the tabs to indicate to visitors how the elements work and function.

[2021-01-12 20:06] kevincrafts commented on #800
![image](https://user-images.githubusercontent.com/349713/104366679-fa0fb500-54d6-11eb-9345-9f5119f2dfa2.png)

[2021-01-12 20:17] kevincrafts commented on #796
What browser was this on? I haven't been able to get that to show up on my test site. Also not sure if it's something with that particular form.

[2021-01-12 20:41] #791 closed

[2021-01-12 20:51] kevincrafts opened #801 "Examine digital campaign bundle for modules/features that need to be moved to existing bundles vs deprecated"
The cu_js_includes module helps take the place of much of the functionality that was previously provided by the embed_templates module.  However, there are still some modules/features that are part of the cu_digital_campaign_bundle that need to remain.  We can move these to other modules once we find which ones need to stay.

These modules/features include (but may not be limited to):

- cu_funnel

[2021-01-12 21:22] kevincrafts commented on #789
I did some testing with this on a local site on the release/4.4.2 branch and did not have an issue with this. I when trying previous branches I ran into the issue cause by #782.

[2021-01-12 21:24] kevincrafts commented on #796
I checked https://www-test.colorado.edu/cmci/ in Safari, Chrome, and Firefox and did not see this issue.

[2021-01-13 15:06] jwfuller commented on #787
This is still an issue

[2021-01-13 15:35] #787 closed

[2021-01-13 18:41] AlanBCole commented on #777
in the .travis.yml file there is a variable used that I do not see a definition for ($TRAVIS_BUILD_DIR). Where is this coming from? On our Travis repo?

[2021-01-13 19:19] cathysnider commented on #777
@AlanBCole I believe it is an environmental variable set by Travis CI. https://docs.travis-ci.com/user/environment-variables/

"TRAVIS_BUILD_DIR: The absolute path to the directory where the repository being built has been copied on the worker."

[2021-01-13 19:42] AlanBCole commented on #777
@cathysnider Thanks! That is kind of what I figured.

[2021-01-13 20:52] AlanBCole commented on #777
### Needs for CI replacement solution
For the purpose of being sure that our chosen option can provide what we need, I thought it would be good to provide a summary of what our requirements are. Please add or correct these lists as needed.

#### Requirements
- Set up an environment suitable for Drupal 7 with tests (linux, php 7.2.x, mysql, composer)
- CI process to be run on each PR/merge to dev b

[2021-01-14 16:52] AlanBCole commented on #777
I am thinking that Github actions would be our best bet as a replacement. Other opinions welcome, though. My thinking below:
1. There are options to meet all of our requirements as listed above
2. We are already using github so having it handle pull request actions etc seems like the least complicated option
3. Since the express_mono repo is a public repository running gihub actions is free!
4. We

[2021-01-14 19:29] cathysnider commented on #778
We are using the Programmable Google Search Engine API with non-profit license.

The Contrib module, Google CSE, was written by us to interface with the GSE API and set up the various optional parameters. The module's configuration page at config/search/cse-settings is completely locked down for all roles in Web Express; no changes to the setup are allowed for the Web Express profile.

Our custom

[2021-01-15 17:19] jwfuller commented on #778
@cathysnider What tools does Google have for making updates to config?

[2021-01-15 20:48] cathysnider opened #804 "Overridden feature 'CU People'"
Many sites are reporting the error that CU People feature has been overridden.

some examples:
https://www.colorado.edu/admin/reports/status
https://www.colorado.edu/business/admin/reports/status
https://www.colorado.edu/asmagazine/admin/reports/status

[2021-01-15 20:51] jwfuller commented on #804
@cathysnider What part of the feature is overridden?

[2021-01-15 21:25] cathysnider commented on #804
Strongarm has been overridden

[2021-01-15 22:06] #790 closed

[2021-01-15 23:09] cathysnider commented on #778
To update the configuration of your Programmable Google Search engine, login to your dashboard. Make changes using the dashboard interface or upload an XML file. I haven't found any other way to edit a search engine's config.

Edit: to clarify, there is no API. You have to login to your dashboard and do it manually.

[2021-01-16 00:03] AlanBCole commented on #777
### Other questions:
1. Can we use MariaDB?
2. If so what version expect?
3.

[2021-01-16 00:06] AlanBCole commented on #777
Actions that we can use in build steps:
- https://github.com/saucelabs/sauce-connect-action
- https://github.com/marketplace/actions/composer-php-actions
- https://github.com/actions/checkout

[2021-01-19 16:43] jwfuller commented on #804
@cathysnider Which variable in strongarm?

[2021-01-19 16:45] jwfuller commented on #777
We use `5.5.5-10.1.29-MariaDB` in prod. You can use it for testing, but it is not a requirement

[2021-01-19 16:52] jwfuller commented on #778
Goal: Deploy a common configuration for most of the CSEs (some may have custom promotions)

## Test Current config

1. Find a site that we own
2. Backup CSE config from Google
3. Upload config from Web Express
4. Verify that CSE operates as expected and looks reasonable
5. If upload appears to break search, role back change using backup

If the config works:

1. Determine places where customizatio

[2021-01-19 18:26] cathysnider commented on #778
This Google Drive spreadsheet was created by K Reynen in 2017: https://docs.google.com/spreadsheets/d/1CGH64LNubziYKCGif6rzmqu2hqZyeAsS9rwbyPK-SxQ/edit#gid=1958277943

[2021-01-19 19:15] cathysnider commented on #778
Google Search Engine Appliance Recalibration

https://docs.google.com/spreadsheets/d/14JYpKQ-dT8GI2bxI5rWr5Jj-EknsrESczzF3tWPw8ww/edit#gid=339433308
(the Sites tab)

[2021-01-19 20:42] #789 closed

[2021-01-19 20:46] cathysnider commented on #804
xmlsitemap

[2021-01-19 20:51] jcsparks commented on #616
[js_uccs-alerts.js.zip](https://github.com/CuBoulder/express_mono/files/5838529/js_uccs-alerts.js.zip)

This is the JS snippet that would check the Rave feed for an update and inject that into the theme DOM.

[2021-01-20 00:05] cathysnider opened #806 "Google CSE XML is output without Title Element"
This is a "Contributed" module created by **University of Colorado Boulder.**

The Title element is not being populated although the code specifies that it should be:

https://github.com/CuBoulder/express_mono/blob/dev/modules/contrib/google_cse/templates/google_cse_export.tpl.php#L15

The output looks like:

[code]

[2021-01-20 00:47] AlanBCole commented on #777
It turns out that both php and composer are installed on an action's container. Maybe this is due to the fact that express_mono contains a large amount of php code? Cool though!

[2021-01-21 20:19] cathysnider commented on #806
There may be other changes required to get our XML up to speed with Google Programmable Search.

[2021-01-25 21:09] jwfuller commented on #781
@kevincrafts Is waiting on more information from DAO

[2021-01-25 21:10] jwfuller commented on #796
Not significant, won't fix

[2021-01-25 21:10] #796 closed

[2021-01-25 21:13] jwfuller commented on #804
Re-export the feature and make sure that testing passes, particularly in regards to sitemap

[2021-01-25 21:14] jwfuller commented on #801
@kevincrafts To gather more information about user needs

[2021-01-25 21:17] kevincrafts commented on #804
We need to be sure of the status of the xml sitemap module during a site install.  If this module is only enabled with the seo bundle, the seo bundle should be enabled before the people feature gets exported again.

[2021-01-25 21:17] jwfuller commented on #806
@cathysnider To test to see if this is an actual issue

[2021-01-25 21:56] kevincrafts opened #807 "Accessibility issues with icons"
After a meeting with the accessibility team, we discussed some issues they've ran into recently regarding icons.  I'll try to explain our previous efforts of making icons accessible, what the current issues are, and some ideas on how to approach these.

## Previous Accessibility Efforts

Most icons in Web Express are provided by FontAwesome.  We're still using an older version (4.7) of the font, s

[2021-02-10 00:15] cathysnider opened #810 "Page "admin/structure/block/add-menu-block" is exposed to Site Owners"
Site owners can get to a page that they shouldn't. And of course, some of them do.

They click the little widget on a menu block >> Choose Configure Block >> Click the link 'menu block's detailed help' >> Click "Add menu block" . And there it is.

It's a very confusing page for them which they should not be able to get to.

It's because perms are set so that anyone who has 'Administer Blocks' + 'A

[2021-02-11 21:11] AlanBCole commented on #777
Reading up on Behat mink extension. It looks like it is being removed in the future. https://github.com/Behat/Behat/issues/1296. There is no date given. In any case the repository has not seen any new work for a few years. So for future use of behat testing we should start thinking of a replacement for this extension, either one of those mentioned in the issue or by adding a context of our own tha

[2021-02-12 23:06] cathysnider opened #812 "Update Google CSE Module"
This is a "Contributed" module created by University of Colorado Boulder.

Per "Fix In Drupal" column of documentation https://docs.google.com/spreadsheets/d/14JYpKQ-dT8GI2bxI5rWr5Jj-EknsrESczzF3tWPw8ww/edit#gid=33943330, make these changes:

To element < CustomSearchEngine > add attributes
- [x] autocompletions="true"
- [x] cx_id="{siteID}:{creatorID} ( so it reads cx_id="12345:abcde" )

To eleme

[2021-02-12 23:09] cathysnider commented on #812
Related to #778

[2021-02-15 22:47] jwfuller commented on #777
@AlanBCole I wouldn't worry about replacing that currently, we can deal with that later

[2021-02-16 20:34] kevincrafts commented on #781
I need to reconnect with Laura Hamrick on this for more information from their end.

[2021-02-16 20:40] jwfuller commented on #810
Is an issue, effort level to fix is too high.

[2021-02-16 20:40] #810 closed

[2021-02-16 22:24] #800 closed

[2021-03-01 20:07] AlanBCole commented on #793
### Some more background for this issue:

- Prometheus is the tool we use to gather performance data from our websites/services.
- The 'scrape' or 'pull' model for gathering data means that Prometheus initiates http requests to services, assets, websites etc to gather desired data in contrast to services themselves initiating communication and sending data to Prometheus. This is why we need an end

[2021-03-02 21:19] jwfuller commented on #793
Anonymous users should not be able to access the data, I would look at token based authentication as a start

I don't think the Web Express side has any clear failures, Atlas is not the best place to store this data and that is the main thing we are fixing

Not with metrics

[2021-03-02 23:09] AlanBCole commented on #793
@jwfuller Thanks. One more question regarding the Atlas API. It looks like it is used [here](https://github.com/CuBoulder/express_mono/blob/dev/modules/custom/atlas/atlas_statistics/atlas_statistics.module#L89-L92) to get some site details. Is there another way to get these? Or are they needed?

[2021-03-16 19:17] cathysnider commented on #778
Suggested course of action:
Update google_cse.module in accordance with -- https://docs.google.com/spreadsheets/d/14JYpKQ-dT8GI2bxI5rWr5Jj-EknsrESczzF3tWPw8ww/edit#gid=339433308 -- add missing features, remove unneeded features.
PUsh the update to all sites
From each site, export its new CSE XML
Upload the XML to https://cse.google.com/cse/all

For all sites which had a Google CSE created but were

[2021-03-19 15:22] jwfuller commented on #778
@cathysnider Good plan

[2021-03-22 18:34] kevincrafts commented on #781
From Laura Hamrick:

[2021-03-22 19:07] #641 closed

[2021-03-29 21:23] AlanBCole commented on #767
At this point, I think we should simply go with pure CSS. We already have the compiled css files from scss. I think we can simply modify the css files from here on as needed. Perhaps refactoring etc as needed.

[2021-03-30 19:57] AlanBCole commented on #767
Will check with Kevin Crafts to understand original need for .scss and see if CSS is now (in 2021) ready and able to replace it for our use cases.

[2021-03-31 21:18] #793 closed

[2021-04-01 23:07] AlanBCole commented on #767
It looks like I spoke too soon. There are a good number of scss features used, particular mixins, that might be a lot of work to replace with 'vanilla' css. Using Gulp/Node might be a simpler option for this use case.

[2021-04-02 15:38] AlanBCole commented on #767
@jwfuller @jcsparks It seems like this, adding gulp etc, is a good situation for GitHub action workflows, right? Also, updating this repo's readme.md file would be helpful.

[2021-04-07 22:12] jeor0980 opened #820 "Remove user jafu6031 from cu_users module"
Remove `jafu6031` from

- `cu_users.module`
- `cu_users.install`

Delete contents of `cu_users_update_7017()` in `cu_users.install`

Also, remove from developer user array `cu_users_getusers()` in `cu_users.module`

[2021-04-16 15:39] ekellagher opened #821 "People List Page - Table view with no image option"
I would like to have an option for the table display on a people list page to not show images on the page, even if the person page has an image. I would like to be able to choose to show content only or content and thumbnail.

[2021-04-28 20:48] kevincrafts opened #823 "No Breadcrumb option in Context module doesn't work"
Trying to use the no breadcrumb option in the Context module's reactions adds a duplicate breadcrumb instead of removing them.

![image](https://user-images.githubusercontent.com/349713/116470424-a7150000-a830-11eb-8e94-7f5f33e17559.png)

![image](https://user-images.githubusercontent.com/349713/116470486-b72cdf80-a830-11eb-9dd2-62de30db0adb.png)

[2021-04-30 21:00] AlanBCole commented on #767
## Current state of affairs
I am now using gulp-dart-sass package to compile our .scss files into css. I have now run into the issue that our .scss codebase seems to be using Compass .scss stylesheets which are not found when including them in our .scss stylesheets (via @import statements etc).

#### Things to do:
- [x] Use gulp.watch to react to .scss changes and compile css files on change.
- [x

[2021-05-03 18:38] ekellagher opened #824 "Add Translate to Web Express"
I noticed that https://www.cu.edu/ now has a translate option run by Google Translate and wanted to know if we could add this feature to Web Express. We have a lot of sites that have content in Spanish but are unable to change the page language to reflect this and it causes accessibility issues. Having a translate option would help our clients to not have to create duplicate content as well.
Examp

[2021-05-03 19:48] ekellagher commented on #514
May 2021: Another client has requested this feature
https://secure.helpscout.net/conversation/1494446188/6176/

[2021-05-04 18:55] jcsparks opened #825 "Upgrade to PHP 7.4"
PHP 7.2 is end of life as of November 2020.  We should see if there's any reason that we can't upgrade to 7.4 at this point.

Should be compatible with D7 according to : https://www.drupal.org/docs/7/system-requirements/php-requirements

[2021-05-04 20:08] jcsparks commented on #825
Need to have dashboards in Grafana working to evaluate before we update.  Should also check to see if PHP8 is compatible when we're ready to update.

[2021-05-04 20:14] AlanBCole commented on #767
There is some code included in Compass that our scss files depend on. We are putting this issue on hold for now as Compass does work for us at the moment, it is simply not a project being actively maintained at the moment, and the work needed to put into it is not appropriate at the moment.

[2021-05-04 20:14] #767 closed

[2021-05-04 21:09] #777 closed

[2021-05-04 21:10] cathysnider opened #826 "Behat Tests: Fix broken digital campaign tests"
Some tests are marked as broken. Hunt them down and fix as appropriate.

[2021-05-10 21:12] cathysnider commented on #812
lando drush vset google_cse_cx '12345678901234567890:abcdefghijklm'

[2021-05-10 21:38] AlanBCole opened #829 "Change prometheus json endpoint"
changing endpoint from `admin/config/express/metrics/json` to `express/metrics/json` as anything behind the `admin` endpoint forces a redirect to the login page.

[2021-05-11 16:49] cathysnider commented on #806
Digging into the whys and wherefores of this, I found that the Title element is populated from the 'Google Custom Search Engine Name' variable. That variable is set on a form that no Web Express person (including developers) has access to (here: admin/config/search/cse-settings).

Instead, there is a specific form for Web Express sites here: admin/config/search/search-settings, which does not incl

[2021-05-12 14:22] johnquest commented on #825
Updating PHP from remi repo 7.2.34-3 (release 3) to 7.2.34-4 causes content grids to become un-editable. Error is "Theme Hook not found" in CU callout bundle. Release 4 from remi is a backported patch from PHP 7.3.28.

[2021-05-17 20:30] #820 closed

[2021-05-18 20:23] jcsparks commented on #806
Works as a contrib module, we don't use this variable.

[2021-05-18 20:23] #806 closed

[2021-05-20 18:03] AlanBCole opened #831 "express_site_metrics module not gathering all site data"
#### Missing:
- user related data
- overridden features
- other data?

[2021-05-24 20:49] ekellagher opened #833 "Block Designer Theme creation bug"
If a site does not have any Block Designer Themes, A Site Editor may click on the block designer tab and click the "Create a Block Designer Theme" link and create a new theme.

<img width="403" alt="SE add theme" src="https://user-images.githubusercontent.com/16137919/119405795-126eb800-bc9f-11eb-8b74-b0714f824be3.png">

Once a Theme has been created though they are unable to edit the theme or go

[2021-05-24 21:36] cathysnider commented on #833
Two options:

**1. Remove ability to add Block Designer themes:**
 According to the User Roles master plan, Site Editors do not make decisions on the design of the site. That ability belongs to the Site Owners.  See User Roles 3.0 https://docs.google.com/spreadsheets/d/1fJk-k9BUySz3a7tMpMvEKKRfcToGeER1MBLajKxFi6s/edit#gid=0

Therefore, the ability to access the Block Designer Theme page should be

[2021-05-25 19:08] #812 closed

[2021-05-25 19:32] AlanBCole commented on #616
This needs to be fixed in the repository for the contributed module rave_alerts. I am looking into this now. We maintain that module so I will make changes through drupal.org.

For future reference:
- Get added as maintainer to the RAVE Alerts project on Drupal.org
- Get your git ssh stuff working
- Get set up with a gitlab account
- You should be able to make changes now!

P.S. Some time looking

[2021-05-25 19:35] #829 closed, assigned to AlanBCole

[2021-05-25 19:35] #831 closed, assigned to AlanBCole

[2021-05-25 19:37] AlanBCole commented on #616
For a look at the changes I have made look at this branch in this repo -> https://github.com/CuBoulder/express_mono/tree/feature/616

[2021-05-25 20:11] jcsparks commented on #826
Should have been closed when Bug/826 was merged.

[2021-05-25 20:11] #826 closed, assigned to cathysnider

[2021-05-26 19:49] cathysnider commented on #833
I checked with Emily about the level of access for Site Editors. She confirmed:
"Site Editors should not be able to create block designer themes, they can design blocks individually but not create universal site block themes."

[2021-06-03 15:27] #833 closed, assigned to cathysnider

[2021-06-03 17:15] cathysnider commented on #588
This is a very important bit of functionality for our customers. It is also a new feature and requires the addition of a new module such as Term Merge.

[2021-06-08 20:17] jcsparks commented on #632
Incompatibility with D7 and the specified feed.  Will eventually be resolved with D9.

[2021-06-08 20:17] #632 closed

[2021-06-08 20:22] jcsparks commented on #807
Need to take a look at what the pricing model is for the latest version of FontAwesome.

[2021-06-15 21:45] #804 closed

[2021-06-22 03:11] ekellagher opened #837 "Edits to User invite page"
User invite page
Change:
 We recommend avoiding the use of group or department accounts.
To
Do not use group or department accounts which are less secure.

[2021-06-22 20:51] jcsparks commented on #824
Translations are difficult at scale.  A bad translation can be worse than just allowing the browser to do a machine-language translation.  We can revisit this in the future but doing this at our scale will be very expensive.

[2021-06-22 20:51] #824 closed, assigned to nobody

[2021-06-29 20:11] jcsparks opened #839 "Upgrade LDAP module to 7.x-2.6"
Should fix a warning we're receiving related to php syntax changes in php 7.4.

[2021-06-29 20:12] jcsparks commented on #825
Upgrade completed, some minor compatibility warnings that will be taken care of via tickets for those specific issues.

[2021-06-29 20:12] #825 closed, assigned to jeor0980

[2021-06-30 20:21] #837 closed, assigned to cathysnider

[2021-06-30 22:25] jeor0980 commented on #839
Changes in new version https://www.drupal.org/project/ldap/releases/7.x-2.6

[2021-07-06 17:30] #839 closed, assigned to jeor0980

[2021-07-07 18:35] cathysnider commented on #783
This query will show which sites are not responsive:
https://osr-prod-util01.int.colorado.edu/atlas/statistics?where={"theme_is_responsive":false}

[2021-07-12 16:10] #616 closed

[2021-07-12 16:46] jeor0980 opened #841 "Update features contrib module to fix PHP deprecation warnings"
I'm seeing a lot of these warnings on our logs after updating to PHP 7.4

[code]
Updating the features module should fix this problem, this issue has been resolved in drupal.org https://www.drupal.org/project/features/issues/3086633

Features Module: https://www.drupal.org/project/features

[2021-07-13 18:30] AlanBCole opened #842 "RAVE alerts add check for "[CLEAR]" token"
Recent changes to the rave_alerts module fixed the issue we had with rave_alerts occasionally breaking web express sites but it changed the workflow for the people who manage the alerts.

### this issue:
1. determine the previous and desired workflow based around adding the `[CLEAR]` token to alert titles
2. study the previous state of the code around that token's use
3. reimplement it in a way th

[2021-07-13 19:48] AlanBCole commented on #783
I can replicate what @cathysnider found in the comment above. I am not sure yet where the `theme_is_responsive` setting is controlled but it does indeed seem that something is NOT set to responsive in the theme layer. It seems like setting `alpha_reponsive`, as  is not taking care of that for us. Below are the site metrics for text.colorado.edu/law site. I have looked at a couple other test sites

[2021-07-14 16:08] AlanBCole commented on #842
Previously the rave title token check flow was as follows:
1. set `rave_alerts_display` to 1 (truthy)
1. if `[ACTIVE]` token is in the title:
    - `rave_alerts_active_event` to 1
    - log 'ACTIVE token found'
2. if `[CLEAR]` token is in the title:
    - set `rave_alerts_display` to 0
    - set `rave_alerts_active_event` to 0
    - no logging of this event

The effect is that if no [CLEAR] token

[2021-07-26 16:05] jeor0980 opened #844 "Remove jeor0980 from web developers user list"

[2021-07-28 19:06] jcsparks opened #846 "Google Analytics 4"
GA4 is out now and apparently tracks different information from UA.  The on-campus GA experts are suggesting that we add both into Express for tracking currently.  There is some concern that UA may be deprecated and removed by Google in the future.  Additionally we're missing out on the additional information tracked by GA4 by not adding that in now.

The counter argument is that it's another trac

[2021-08-09 22:47] ekellagher opened #847 "Feature Request: Vimeo live event embeds"
We have a client that would like to use Vimeo live event embeds
Help Scout # 6820

Livestream was bought by Vimeo a few years ago and they are slowly fazing Livestream out.

https://techcrunch.com/2017/09/26/vimeo-acquires-livestream-launches-its-own-live-video-product/

Vimeo Tutorial: https://vimeo.zendesk.com/hc/en-us/articles/360055104711-Creating-and-embedding-live-and-live-to-VOD-events
This

[2021-08-10 20:13] jcsparks commented on #846
Maybe look at https://matomo.org/ as an alternative to GA

[2021-09-02 20:06] ekellagher opened #848 "Power IB embed"
We have had a client request to be able to embed Power IB data reports on a Web Express site
Power IB is a Microsoft data visualization platform

**More Information:**
Embed APIs
https://docs.microsoft.com/en-us/javascript/api/overview/powerbi/
Accessibility
Power BI has accessibility features built into the product, which don't require any configuration from the report author. These features are

[2021-09-08 22:33] cathysnider opened #849 "chg: remove instantiation and developer role from Catherine Snider"

[2021-09-10 16:47] #844 closed, assigned to nobody

[2021-09-27 17:00] cathysnider commented on #778
All sites on the Google Programmable Search Engine Context File https://docs.google.com/spreadsheets/d/14JYpKQ-dT8GI2bxI5rWr5Jj-EknsrESczzF3tWPw8ww/edit#gid=339433308 (Sites tab) were updated to same XML (same link, XML tab).

Note: Login to https://cse.google.com/cse/all using account 'websupport@colorado.edu' and its associated password (owned by Jo Bertrand)

[2021-09-27 17:20] #849 closed, assigned to cathysnider

[2021-09-28 20:15] jcsparks commented on #778
Password may have changed in July.

[2021-09-28 21:09] cathysnider opened #853 "Remove Brooke Stevens brst4163 from Web Developers list"

[2021-10-05 20:07] jcsparks opened #855 "Starting to run out of space on the NFS mount"
The filesystem for the main storage is starting to fill up.  Will likely need to contact OIT to grow the volume.

/ifs/isln-ucb01-01/es/nfs/osr_prod_001

[2021-10-05 20:11] jcsparks commented on #841
This should be fixed when the latest updates are pushed out.  There's an updated version of the ldap contrib module that fixes this.

[2021-10-14 21:31] ekellagher opened #856 "Instagram Embed option"
We have several clients that would like to post their Instagram feeds on their websites. At the time when we created the social media embeds, Instagram was not part of Facebook and did not have a free embed option. Maybe they do now?

[2021-10-22 22:17] kevincrafts opened #857 "Replace fonts.com fonts with an open source alternative"
Looks like we won't be renewing our contract with fonts.com next year, so we need to replace our font references with an open source alternative.

The CU System Brand Board will meet to decide which alternative will be used, but regardless, this needs to be completed and deployed before January when the license expires.

[2021-10-26 20:17] jcsparks commented on #855
Increased hard and soft quotas by 100GB.  Should serve until we move to Pantheon.

[2021-10-26 20:17] #855 closed, assigned to AlanBCole

[2021-11-11 21:19] kevincrafts commented on #857
Hero Unit block headings should be condensed.

[2021-12-14 21:54] jcsparks commented on #853
Removed and merged in update with 4.4.7

[2021-12-14 21:54] #853 closed, assigned to nobody

[2021-12-14 21:55] jcsparks commented on #857
Merged in chang with 4.4.7

[2021-12-14 21:55] #857 closed, assigned to kevincrafts

[2021-12-15 16:54] #842 closed, assigned to AlanBCole

[2021-12-21 20:49] AlanBCole commented on #846
### after a brief (incomplete) look

It seems like GA4 is a complete rewrite of Google's analytics service. It does not seem that more data is gathered but it does change how data is collected. A big change is that cookies will no longer be used to track a user's browsing to and away from a given web page but rather a user's journey will be tracked somehow with AI (likely to avoid GDPR). Another c

[2021-12-21 21:10] jcsparks commented on #846
Need to evaluate how we're implementing GA in the Express currently.  Determine how difficult it will be to add in GA4 with the current solution.

[2021-12-21 21:19] jcsparks commented on #841
Updates have been pushed out but because of Log4j, we don't have any visibility into the issue currently.  Evaluate again in the new year once all of the logging systems have been patched and we have visibility into the systems again.

[2021-12-22 21:48] AlanBCole opened #861 "Faculty Publications changes 12/21"
The cu_faculty_publications module lists faculty author publications by searching the Faculty Information Services' publications database. Recently they have changed the location of this database and this needs to be updated in our module.

Also, we have been searching the FIS faculty publications database for an authors orcid. Not all professors have this id set up so some publications are not be

[2022-01-11 21:17] jcsparks opened #863 "Drush Update"
Since updating to PHP 7.4, suspect that the version of Drush that we're installing is no longer compatible with our PHP version.  Evaluate and install a compatible version of drush.

[2022-01-11 21:18] jcsparks commented on #863
Note that we'll have an update version of Drush on Pantheon anyway.  May not need to do this for the on-prem hosting depending on how difficult it is to update and how well the migration is going.

[2022-01-18 21:16] jcsparks commented on #841
Think this is fixed.... reopen if we're still having the issue.

[2022-01-18 21:16] #841 closed, assigned to jeor0980, tirazel

[2022-01-19 18:28] #861 closed, assigned to AlanBCole

[2022-01-25 22:20] jcsparks commented on #863
Will be fixed with the move to Pantheon.

[2022-01-25 22:20] #863 closed, assigned to nobody

[2022-02-01 21:12] jcsparks commented on #846
Not going to update to GA4 until Kevin Crafts is happy that it isn't breaking other things with tracking.   Will use GTM to add it in when the time comes.

[2022-02-01 21:12] #846 closed, assigned to jcsparks, AlanBCole

[2022-02-07 19:02] kevincrafts opened #864 "Faculty Publications output should include all authors, not just CU authors"
This feedback was shared from David J Lubinski at INSTAAR...

1. "Authors" label is misleading, please change to "CU Boulder Authors"
The very first publication on the current demo page https://www.colorado.edu/demos/web-express/faculty-publications illustrates the issue:
[Mapping Macrophage Polarization and Origin during the Progression of the Foreign Body Response to a Poly(ethylene glycol) Hydr

[2022-02-15 21:04] johnquest opened #865 "transliteration module is commented out for dependency in express.info not sure why?"

[2022-02-24 15:26] ekellagher opened #867 "Faculty Publications Bundle"
Request 1: Show the publications pager menu at both the top and bottom of the publications list
Currently if the Faculty Publications block is set to show "all" publications, a pager menu is shown at the bottom to navigate to additional publications. That makes sense but I suggest systematically repeating that pager menu at the top of the publications list for the following reasons:
Immediately gi

[2022-02-24 19:23] ekellagher opened #868 "Title image caption option"
CU Boulder Today stories use the Title image feature and need to add image caption text, to site image credits. They want to be able to upload title images with or without a caption.

[2022-03-02 18:34] kevincrafts opened #869 "Remove Environmental Indicator Permissions"
The configuration we made for the environmental indicator during our last infrastructure migration seems to be turning on for sites that are migrated to Pantheon.  We can remove the permissions to view the indicator which would be the easiest way to stop it from showing up, as there would be little code to touch.

[2022-03-02 18:44] kevincrafts opened #871 "Remove Environment Indicator"
Remove all of the environment indicator code so the indicator doesn't display on Pantheon.

[2022-03-30 14:42] #864 closed, assigned to AlanBCole

[2022-04-06 19:44] kevincrafts opened #875 "Add Reply To field to web forms"
Since moving sites to Pantheon, the from field no longer supports component values.  Adding this module adds a reply to field on all webforms that users will need to configure.

[2022-04-12 14:28] kevincrafts opened #877 "Disable Webform Submit Button on Form Submit"
We're seeing a rise in tickets where a web form is getting multiple submissions all at once, possibly by the user clicking the submit button multiple times. To prevent this from happening, we can disable the submit button when the form has been submitted, preventing multiple clicks if there is any sort of delay.

This action should be taken with the form submit handler vs onclick because it will a

[2022-05-20 17:29] kevincrafts opened #879 "Remove Emily as an installed user"
With Emily leaving at the end of the month we need to remove her roles and not install her as a user on sites.

[2022-06-13 19:25] kevincrafts opened #885 "Invite documentation needs to specify that users should be invited with their identikey vs an email address"
One of the more frequent support issues we get now is users that are invited incorrectly to a site via their email address. When a user accepts the invite and logs in two accounts are created, however, the user is unable to access either of them and it then requires a developer to cancel both accounts and issue a new account with the identikey.